<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.skill6.website.dao.mappers.store.StoreImageMapper">
    <resultMap id="BaseResultMap" type="StoreImage">
        <constructor>
            <idArg column="image_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="image_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="image_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="image_upload_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="image_type" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="image_hash_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="image_download_count" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from store_image
        where image_id = #{imageId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="StoreImage">
        insert into store_image (image_id, image_name, image_url,
                                 image_upload_time, image_type, image_hash_code,
                                 image_download_count)
        values (#{imageId,jdbcType=BIGINT}, #{imageName,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR},
                #{imageUploadTime,jdbcType=TIMESTAMP}, #{imageType,jdbcType=VARCHAR}, #{imageHashCode,jdbcType=VARCHAR},
                #{imageDownloadCount,jdbcType=INTEGER})
    </insert>

    <update id="updateByPrimaryKey" parameterType="StoreImage">
        update store_image
        set image_name           = #{imageName,jdbcType=VARCHAR},
            image_url            = #{imageUrl,jdbcType=VARCHAR},
            image_upload_time    = #{imageUploadTime,jdbcType=TIMESTAMP},
            image_type           = #{imageType,jdbcType=VARCHAR},
            image_hash_code      = #{imageHashCode,jdbcType=VARCHAR},
            image_download_count = #{imageDownloadCount,jdbcType=INTEGER}
        where image_id = #{imageId,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select image_id,
               image_name,
               image_url,
               image_upload_time,
               image_type,
               image_hash_code,
               image_download_count
        from store_image
        where image_id = #{imageId,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select image_id,
               image_name,
               image_url,
               image_upload_time,
               image_type,
               image_hash_code,
               image_download_count
        from store_image
    </select>
</mapper>