<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.skill6.website.dao.mappers.store.StoreFileMapper">
    <resultMap id="BaseResultMap" type="StoreFile">
        <constructor>
            <idArg column="file_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="file_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="file_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="file_upload_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="file_hash_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="file_download_count" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
        <result column="file_type" property="fileType" jdbcType="VARCHAR"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from store_file
		where file_id = #{fileId,jdbcType=BIGINT}
	</delete>
    <insert id="insert" parameterType="StoreFile">
		insert into store_file (file_id, file_name, file_url,
		file_upload_time, file_type, file_hash_code,
		file_download_count)
		values (#{fileId,jdbcType=BIGINT},
		#{fileName,jdbcType=VARCHAR}, #{fileUrl,jdbcType=VARCHAR},
		#{fileUploadTime,jdbcType=TIMESTAMP}, #{fileType,jdbcType=VARCHAR}, #{fileHashCode,jdbcType=VARCHAR},
		#{fileDownloadCount,jdbcType=INTEGER})
	</insert>
    <update id="updateByPrimaryKey" parameterType="StoreFile">
		update store_file
		set file_name = #{fileName,jdbcType=VARCHAR},
		file_url = #{fileUrl,jdbcType=VARCHAR},
		file_upload_time =
		#{fileUploadTime,jdbcType=TIMESTAMP},
		file_type = #{fileType,jdbcType=VARCHAR},
		file_hash_code = #{fileHashCode,jdbcType=VARCHAR},
		file_download_count = #{fileDownloadCount,jdbcType=INTEGER}
		where
		file_id = #{fileId,jdbcType=BIGINT}
	</update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select file_id, file_name, file_url, file_upload_time, file_type, file_hash_code,
		file_download_count
		from store_file
		where file_id = #{fileId,jdbcType=BIGINT}
	</select>
    <select id="selectAll" resultMap="BaseResultMap">
		select file_id, file_name, file_url, file_upload_time, file_type, file_hash_code,
		file_download_count
		from store_file
	</select>
</mapper>