<!DOCTYPE html>
<html lang="zh" style="font-size: 10px;font-family: Roboto, Arial, sans-serif; background-color: #fafafa;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>skill6-技术流</title>
  <meta name="description" content="技术流，Java全栈开发，技术分享交流"/>
  <meta name="keywords" content="技术流，Java，全栈"/>
  <meta name="author" content="刘纪春，何明胜，刘健">
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/webjars/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/global.css">
  <script type="application/javascript" src="/webjars/vue/vue.js"></script>
</head>
<body>
<div id="skill6-app" v-cloak style="background-color: #eeeeee">
  <header class="navbar navbar-static-top" style="margin-bottom: 0px;background-color: white">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar"
                aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./">
          <img src="/images/logo/logo.jpg" style="padding: 3px;width: 90px;margin-top: -12px"></a>
      </div>
      <nav id="header-navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="route-btn active"><a href="/topic">技术专题</a></li>
          <li class="route-btn"><a href="/qa">问答</a></li>
          <li class="route-btn"><a href="/project">项目</a></li>
          <li class="route-btn"><a href="/code">代码库</a></li>
          <li class="route-btn"><a href="/source">资源</a></li>
          <li class="route-btn"><a href="/talk">灌水区</a></li>
          <li class="route-btn"><a href="/developing">开发中</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="./login">登录/注册</a></li>
          <li><a href="./about">关于</a></li>
        </ul>
      </nav>
    </div>
    <div style="width: 100%;height: 2px;background-color: red"></div>
  </header>
  <div v-if="index.notice.show" id="notice-board" class="container">
    <div class="row">
      <div class="col-md-11" style="display: inline" v-html="index.notice.data.message"></div>
      <div class="col-md-1"><span style="margin-left: 90%;" @click="closeNotice">
        <i class="fa fa-close"></i></span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-9" style="background-color: white">
        <div>
          <nav class="nav navbar-default" style="font-size: 15px;margin-top: 20px;">
            <ul class="nav nav-pills">
              <li role="presentation" class="active route-btn"><a href="topic/java">Java</a></li>
              <li role="presentation" class="route-btn"><a href="/topic/spring">Spring</a></li>
              <li role="presentation" class="route-btn"><a href="/topic/tomcat">Tomcat</a></li>
              <li role="presentation" class="route-btn"><a href="/topic/netty">Netty</a></li>
              <li role="presentation" class="route-btn"><a href="/topic/spring-boot">Spring Boot</a></li>
              <li role="presentation" class="route-btn"><a href="/topic/log4j">log4j</a></li>
            </ul>
          </nav>
          <div id="blog-info-top">
            <div class="blog-info-div blog-info-div-border" v-for="info in index.blog.top" :id="info.id">
              <div class="row">
                <div class="col-md-10">
                  <h4 style="color: #1b809e;margin-top: 0;margin-bottom: 10px;font-size: 18px"
                      v-html="info.title"></h4>
                </div>
                <div class="col-md-2">
                <span style="margin-right: 10px"><i
                    :class="[info['thumb-up-d']?'fa-thumbs-up':'fa-thumbs-o-up','fa']"></i><span
                    v-html="info['thumb-up']"></span></span>
                  <span style="margin-right: 10px"><i
                      :class="[info['thumb-down-d']?'fa-thumbs-down':'fa-thumbs-o-down','fa']"></i><span
                      v-html="info['thumb-down']"></span></span>
                </div>
              </div>
              <p>
                <span style="padding: 3px;color: red;background-color: #dddffa;margin: 5px"><i class="fa fa-lock"></i>顶置</span>
                <span style="background-color: #337ab7;border-radius: 3px;margin: 5px;color: #ffffff;padding: 3px;"
                      v-for=" word in info['key-words']"
                      v-html="word"></span>
              </p>
              <p v-html="info.summary"></p>
            </div>
          </div>
          <div id="blog-info-common">
            <div class="blog-info-div blog-info-div-border" v-for="info in index.blog.common" :id="info.id">
              <div class="row">
                <div class="col-md-10">
                  <h4 style="color: #1b809e;margin-top: 0;margin-bottom: 10px;font-size: 18px" v-html="info.title"></h4>
                </div>
                <div class="col-md-2">
                <span style="margin-right: 10px"><i
                    :class="[info['thumb-up-d']?'fa-thumbs-up':'fa-thumbs-o-up','fa']"></i><span
                    v-html="info['thumb-up']"></span></span>
                  <span style="margin-right: 10px"><i
                      :class="[info['thumb-down-d']?'fa-thumbs-down':'fa-thumbs-o-down','fa']"></i><span
                      v-html="info['thumb-down']"></span></span>
                </div>
              </div>
              <p>
              <span style="background-color: #337ab7;border-radius: 3px;margin: 5px;color: #ffffff;padding: 3px;"
                    v-for=" word in info['key-words']"
                    v-html="word"></span>
              </p>
              <p v-html="info.summary"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div style="background-color: white;margin-bottom:10px">
          <div style="padding: 5px 0px 2px 10px">
            <h5><i class="fa fa-bar-chart"></i> 统计信息</h5>
          </div>
          <div style="height: 1px;background-color: red"></div>
          <div style="padding: 5px 10px 2px 10px">
            <span>在线人数:</span>&nbsp;<span>400</span>&nbsp;<i class="fa fa-level-up"></i><br>
            <span>日活跃度:</span>&nbsp;<span>1000</span>&nbsp;<i class="fa fa-level-down"></i><br>
          </div>
        </div>
        <div style="background-color: white;margin-bottom:5px">
          <div style="padding: 5px 0px 2px 10px">
            <h5><i class="fa fa-bar-chart"></i> 统计信息</h5>
          </div>
          <div style="height: 1px;background-color: red"></div>
          <div style="padding: 5px 10px 2px 10px">
            <span>在线人数:</span>&nbsp;<span>400</span>&nbsp;<i class="fa fa-level-up"></i><br>
            <span>日活跃度:</span>&nbsp;<span>1000</span>&nbsp;<i class="fa fa-level-down"></i><br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr style="background-color: red;height: 1px">
  <footer style="background-color: white;">
    <div class="container">
      <div style="height: 10px"></div>
      <div>
        <strong>
          <a>关于</a>
          <span>&nbsp;</span>
          <a>GitHub仓库</a>
          <span>&nbsp;</span>
          <a>反馈问题</a>
          <span>&nbsp;</span>
          <a>加入我们</a>
          <span>&nbsp;</span>
        </strong>
      </div>
      <div class="text-center">©2018 skill6.cn 技术流 | 苏ICP备案001001001001</div>
    </div>
    <div style="height: 10px"></div>
  </footer>
</div>
<script type="application/javascript" src="/webjars/jquery/dist/jquery.min.js"></script>
<script type="application/javascript" src="/webjars/jquery-cookie/jquery.cookie.js"></script>
<script type="application/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="application/javascript" src="/js/skill6-index.js"></script>
</body>
</html>