<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.skill6.website.dao.mappers.article.ArticleInfoMapper">
    <resultMap id="BaseResultMap" type="ArticleInfo">
        <constructor>
            <idArg column="article_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="category_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="article_title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="article_author" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="article_summary" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="article_label" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="article_read_total" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="article_create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="article_update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="article_place_top" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="article_top_priority" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="article_attach_file" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="article_attach_ids" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="article_valid" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="article_html_content" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
            <arg column="article_md_content" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
        </constructor>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE
        FROM article_info
        WHERE article_id = #{articleId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="ArticleInfo">
        INSERT INTO article_info (article_id, category_id, article_title,
                                  article_author, article_summary, article_label,
                                  article_read_total, article_create_time,
                                  article_update_time, article_place_top, article_top_priority,
                                  article_attach_file, article_attach_ids, article_valid,
                                  article_html_content, article_md_content)
        VALUES (#{articleId,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, #{articleTitle,jdbcType=VARCHAR},
                #{articleAuthor,jdbcType=VARCHAR}, #{articleSummary,jdbcType=VARCHAR}, #{articleLabel,jdbcType=VARCHAR},
                #{articleReadTotal,jdbcType=INTEGER}, #{articleCreateTime,jdbcType=TIMESTAMP},
                #{articleUpdateTime,jdbcType=TIMESTAMP}, #{articlePlaceTop,jdbcType=BIT},
                #{articleTopPriority,jdbcType=INTEGER},
                #{articleAttachFile,jdbcType=BIT}, #{articleAttachIds,jdbcType=VARCHAR}, #{articleValid,jdbcType=BIT},
                #{articleHtmlContent,jdbcType=LONGVARCHAR}, #{articleMdContent,jdbcType=LONGVARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="ArticleInfo">
        UPDATE article_info
        SET category_id          = #{categoryId,jdbcType=BIGINT},
            article_title        = #{articleTitle,jdbcType=VARCHAR},
            article_author       = #{articleAuthor,jdbcType=VARCHAR},
            article_summary      = #{articleSummary,jdbcType=VARCHAR},
            article_label        = #{articleLabel,jdbcType=VARCHAR},
            article_read_total   = #{articleReadTotal,jdbcType=INTEGER},
            article_create_time  = #{articleCreateTime,jdbcType=TIMESTAMP},
            article_update_time  = #{articleUpdateTime,jdbcType=TIMESTAMP},
            article_place_top    = #{articlePlaceTop,jdbcType=BIT},
            article_top_priority = #{articleTopPriority,jdbcType=INTEGER},
            article_attach_file  = #{articleAttachFile,jdbcType=BIT},
            article_attach_ids   = #{articleAttachIds,jdbcType=VARCHAR},
            article_valid        = #{articleValid,jdbcType=BIT},
            article_html_content = #{articleHtmlContent,jdbcType=LONGVARCHAR},
            article_md_content   = #{articleMdContent,jdbcType=LONGVARCHAR}
        WHERE article_id = #{articleId,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT article_id,
               category_id,
               article_title,
               article_author,
               article_summary,
               article_label,
               article_read_total,
               article_create_time,
               article_update_time,
               article_place_top,
               article_top_priority,
               article_attach_file,
               article_attach_ids,
               article_valid,
               article_html_content,
               article_md_content
        FROM article_info
        WHERE article_id = #{articleId,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT article_id,
               category_id,
               article_title,
               article_author,
               article_summary,
               article_label,
               article_read_total,
               article_create_time,
               article_update_time,
               article_place_top,
               article_top_priority,
               article_attach_file,
               article_attach_ids,
               article_valid,
               article_html_content,
               article_md_content
        FROM article_info
    </select>

    <select id="selectByParams" resultMap="BaseResultMap" parameterType="ArticleInfo">
        select article_id, category_id, article_title, article_author, article_summary, article_label,
        article_read_total, article_create_time, article_update_time, article_place_top,
        article_top_priority, article_attach_file, article_attach_ids, article_valid, article_html_content,
        article_md_content
        from article_info
        <where>
            <if test="articleAuthor != null">
                article_author = #{articleAuthor,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>