<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.skill6.website.dao.mappers.article.ArticleReadRecordMapper">
    <resultMap id="BaseResultMap" type="ArticleReadRecord">
        <constructor>
            <idArg column="article_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <idArg column="article_date_daily" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="article_read_daily" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="map">
        DELETE
        FROM article_read_record
        WHERE article_id = #{articleId,jdbcType=BIGINT}
          AND article_date_daily = #{articleDateDaily,jdbcType=TIMESTAMP}
    </delete>

    <insert id="insert" parameterType="ArticleReadRecord">
        INSERT INTO article_read_record (article_id, article_date_daily, article_read_daily)
        VALUES (#{articleId,jdbcType=BIGINT}, #{articleDateDaily,jdbcType=TIMESTAMP},
                #{articleReadDaily,jdbcType=INTEGER})
    </insert>

    <update id="updateByPrimaryKey" parameterType="ArticleReadRecord">
        UPDATE article_read_record
        SET article_read_daily = #{articleReadDaily,jdbcType=INTEGER}
        WHERE article_id = #{articleId,jdbcType=BIGINT}
          AND article_date_daily = #{articleDateDaily,jdbcType=TIMESTAMP}
    </update>

    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        SELECT article_id, article_date_daily, article_read_daily
        FROM article_read_record
        WHERE article_id = #{articleId,jdbcType=BIGINT}
          AND article_date_daily = #{articleDateDaily,jdbcType=TIMESTAMP}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT article_id, article_date_daily, article_read_daily
        FROM article_read_record
    </select>
</mapper>