<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.skill6.website.dao.mappers.article.ArticleModifyRecordMapper">
    <resultMap id="BaseResultMap" type="ArticleModifyRecord">
        <constructor>
            <idArg column="article_modify_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="article_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="category_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="article_title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="article_author" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="article_summary" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="article_label" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="article_read_total" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="article_create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="article_update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="article_place_top" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="article_top_priority" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="article_attach_file" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="article_html_content" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
            <arg column="article_md_content" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
            <arg column="article_attach_ids" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
        </constructor>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE
        FROM article_modify_record
        WHERE article_modify_id = #{articleModifyId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="ArticleModifyRecord">
        INSERT INTO article_modify_record (article_modify_id, article_id, category_id,
                                           article_title, article_author, article_summary,
                                           article_label, article_read_total, article_create_time,
                                           article_update_time, article_place_top, article_top_priority,
                                           article_attach_file, article_html_content,
                                           article_md_content, article_attach_ids)
        VALUES (#{articleModifyId,jdbcType=BIGINT}, #{articleId,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT},
                #{articleTitle,jdbcType=VARCHAR}, #{articleAuthor,jdbcType=VARCHAR}, #{articleSummary,jdbcType=VARCHAR},
                #{articleLabel,jdbcType=VARCHAR}, #{articleReadTotal,jdbcType=INTEGER},
                #{articleCreateTime,jdbcType=TIMESTAMP},
                #{articleUpdateTime,jdbcType=TIMESTAMP}, #{articlePlaceTop,jdbcType=BIT},
                #{articleTopPriority,jdbcType=INTEGER},
                #{articleAttachFile,jdbcType=BIT}, #{articleHtmlContent,jdbcType=LONGVARCHAR},
                #{articleMdContent,jdbcType=LONGVARCHAR}, #{articleAttachIds,jdbcType=LONGVARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="ArticleModifyRecord">
        UPDATE article_modify_record
        SET article_id           = #{articleId,jdbcType=BIGINT},
            category_id          = #{categoryId,jdbcType=BIGINT},
            article_title        = #{articleTitle,jdbcType=VARCHAR},
            article_author       = #{articleAuthor,jdbcType=VARCHAR},
            article_summary      = #{articleSummary,jdbcType=VARCHAR},
            article_label        = #{articleLabel,jdbcType=VARCHAR},
            article_read_total   = #{articleReadTotal,jdbcType=INTEGER},
            article_create_time  = #{articleCreateTime,jdbcType=TIMESTAMP},
            article_update_time  = #{articleUpdateTime,jdbcType=TIMESTAMP},
            article_place_top    = #{articlePlaceTop,jdbcType=BIT},
            article_top_priority = #{articleTopPriority,jdbcType=INTEGER},
            article_attach_file  = #{articleAttachFile,jdbcType=BIT},
            article_html_content = #{articleHtmlContent,jdbcType=LONGVARCHAR},
            article_md_content   = #{articleMdContent,jdbcType=LONGVARCHAR},
            article_attach_ids   = #{articleAttachIds,jdbcType=LONGVARCHAR}
        WHERE article_modify_id = #{articleModifyId,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT article_modify_id,
               article_id,
               category_id,
               article_title,
               article_author,
               article_summary,
               article_label,
               article_read_total,
               article_create_time,
               article_update_time,
               article_place_top,
               article_top_priority,
               article_attach_file,
               article_html_content,
               article_md_content,
               article_attach_ids
        FROM article_modify_record
        WHERE article_modify_id = #{articleModifyId,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT article_modify_id,
               article_id,
               category_id,
               article_title,
               article_author,
               article_summary,
               article_label,
               article_read_total,
               article_create_time,
               article_update_time,
               article_place_top,
               article_top_priority,
               article_attach_file,
               article_html_content,
               article_md_content,
               article_attach_ids
        FROM article_modify_record
    </select>
</mapper>