<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.skill6.website.dao.mappers.basic.VersionInfoMapper">
    <resultMap id="BaseResultMap" type="VersionInfo">
        <constructor>
            <idArg column="version_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="user_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="version_number" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="version_release_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="version_content" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
        </constructor>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from version_info
        where version_id = #{versionId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="VersionInfo">
        insert into version_info (version_id, user_id, version_number,
                                  version_release_time, version_content)
        values (#{versionId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{versionNumber,jdbcType=VARCHAR},
                #{versionReleaseTime,jdbcType=TIMESTAMP}, #{versionContent,jdbcType=LONGVARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="VersionInfo">
        update version_info
        set user_id              = #{userId,jdbcType=BIGINT},
            version_number       = #{versionNumber,jdbcType=VARCHAR},
            version_release_time = #{versionReleaseTime,jdbcType=TIMESTAMP},
            version_content      = #{versionContent,jdbcType=LONGVARCHAR}
        where version_id = #{versionId,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select version_id, user_id, version_number, version_release_time, version_content
        from version_info
        where version_id = #{versionId,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select version_id, user_id, version_number, version_release_time, version_content
        from version_info
    </select>
</mapper>