<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.skill6.website.dao.mappers.question.QuestionAnswerMapper">
    <resultMap id="BaseResultMap" type="QuestionAnswer">
        <constructor>
            <idArg column="answer_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="question_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="answer_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="answer_thumbs_up_count" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="answer_thumbs_down_count" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="answer_content" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
        </constructor>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE
        FROM question_answer
        WHERE answer_id = #{answerId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="QuestionAnswer">
        INSERT INTO question_answer (answer_id, question_id, answer_time,
                                     answer_thumbs_up_count, answer_thumbs_down_count,
                                     answer_content)
        VALUES (#{answerId,jdbcType=BIGINT}, #{questionId,jdbcType=BIGINT}, #{answerTime,jdbcType=TIMESTAMP},
                #{answerThumbsUpCount,jdbcType=INTEGER}, #{answerThumbsDownCount,jdbcType=INTEGER},
                #{answerContent,jdbcType=LONGVARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="QuestionAnswer">
        UPDATE question_answer
        SET question_id              = #{questionId,jdbcType=BIGINT},
            answer_time              = #{answerTime,jdbcType=TIMESTAMP},
            answer_thumbs_up_count   = #{answerThumbsUpCount,jdbcType=INTEGER},
            answer_thumbs_down_count = #{answerThumbsDownCount,jdbcType=INTEGER},
            answer_content           = #{answerContent,jdbcType=LONGVARCHAR}
        WHERE answer_id = #{answerId,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT answer_id,
               question_id,
               answer_time,
               answer_thumbs_up_count,
               answer_thumbs_down_count,
               answer_content
        FROM question_answer
        WHERE answer_id = #{answerId,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT answer_id,
               question_id,
               answer_time,
               answer_thumbs_up_count,
               answer_thumbs_down_count,
               answer_content
        FROM question_answer
    </select>
</mapper>