<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.skill6.website.dao.DiscussAreaMapper">
	<resultMap id="BaseResultMap" type="cn.skill6.common.entity.po.DiscussArea">
		<constructor>
			<idArg column="discuss_id" javaType="java.lang.Long" jdbcType="BIGINT" />
			<arg column="discuss_belong_id" javaType="java.lang.Long" jdbcType="BIGINT" />
			<arg column="discuss_parent_id" javaType="java.lang.Long" jdbcType="BIGINT" />
			<arg column="discuss_comitter_id" javaType="java.lang.String" jdbcType="VARCHAR" />
			<arg column="discuss_create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
			<arg column="discuss_valid" javaType="java.lang.Boolean" jdbcType="BIT" />
			<arg column="discuss_content" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
		</constructor>
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from discuss_area
		where discuss_id = #{discussId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.skill6.common.entity.po.DiscussArea">
		insert into discuss_area (discuss_id, discuss_belong_id, discuss_parent_id,
		discuss_comitter_id, discuss_create_date,
		discuss_valid, discuss_content)
		values (#{discussId,jdbcType=BIGINT}, #{discussBelongId,jdbcType=BIGINT}, #{discussParentId,jdbcType=BIGINT},
		#{discussComitterId,jdbcType=VARCHAR}, #{discussCreateDate,jdbcType=TIMESTAMP},
		#{discussValid,jdbcType=BIT}, #{discussContent,jdbcType=LONGVARCHAR})
	</insert>
	<update id="updateByPrimaryKey" parameterType="cn.skill6.common.entity.po.DiscussArea">
		update discuss_area
		set discuss_belong_id = #{discussBelongId,jdbcType=BIGINT},
		discuss_parent_id = #{discussParentId,jdbcType=BIGINT},
		discuss_comitter_id = #{discussComitterId,jdbcType=VARCHAR},
		discuss_create_date = #{discussCreateDate,jdbcType=TIMESTAMP},
		discuss_valid = #{discussValid,jdbcType=BIT},
		discuss_content = #{discussContent,jdbcType=LONGVARCHAR}
		where discuss_id = #{discussId,jdbcType=BIGINT}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select discuss_id, discuss_belong_id, discuss_parent_id, discuss_comitter_id, discuss_create_date,
		discuss_valid, discuss_content
		from discuss_area
		where discuss_id = #{discussId,jdbcType=BIGINT}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select discuss_id, discuss_belong_id, discuss_parent_id, discuss_comitter_id, discuss_create_date,
		discuss_valid, discuss_content
		from discuss_area
	</select>
</mapper>