<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.skill6.website.dao.VisitStatisticsMapper">
	<resultMap id="BaseResultMap" type="cn.skill6.common.entity.po.VisitStatistics">
		<constructor>
			<idArg column="visit_id" javaType="java.lang.Long" jdbcType="BIGINT" />
			<arg column="visit_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
			<arg column="visit_online_max" javaType="java.lang.Integer" jdbcType="INTEGER" />
			<arg column="visit_current_day" javaType="java.lang.Integer" jdbcType="INTEGER" />
			<arg column="visit_total_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
		</constructor>
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from visit_statistics
		where visit_id = #{visitId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.skill6.common.entity.po.VisitStatistics">
		insert into visit_statistics (visit_id, visit_date, visit_online_max,
		visit_current_day, visit_total_count)
		values (#{visitId,jdbcType=BIGINT}, #{visitDate,jdbcType=TIMESTAMP}, #{visitOnlineMax,jdbcType=INTEGER},
		#{visitCurrentDay,jdbcType=INTEGER}, #{visitTotalCount,jdbcType=INTEGER})
	</insert>
	<update id="updateByPrimaryKey" parameterType="cn.skill6.common.entity.po.VisitStatistics">
		update visit_statistics
		set visit_date = #{visitDate,jdbcType=TIMESTAMP},
		visit_online_max = #{visitOnlineMax,jdbcType=INTEGER},
		visit_current_day = #{visitCurrentDay,jdbcType=INTEGER},
		visit_total_count = #{visitTotalCount,jdbcType=INTEGER}
		where visit_id = #{visitId,jdbcType=BIGINT}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select visit_id, visit_date, visit_online_max, visit_current_day, visit_total_count
		from visit_statistics
		where visit_id = #{visitId,jdbcType=BIGINT}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select visit_id, visit_date, visit_online_max, visit_current_day, visit_total_count
		from visit_statistics
	</select>
</mapper>