@charset "UTF-8";
/**
为保证各种客户端自适应，非特殊情况不得固定元素位置，元素大小！！！
 */

.icon-bar {
  background-color: red;
}

a {
  color: #000;
}

.blog-info-div {
  padding: 20px 0px 0px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-bottom-width: 5px;
  border-radius: 3px;
}

.blog-info-div-border {
  border-left-color: red;
  border-bottom-color: #1b809e;
}

[v-cloak] {
  display: none;
}