<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.skill6.website.dao.mappers.rbac.RbacPermissionInfoMapper">
    <resultMap id="BaseResultMap" type="RbacPermissionInfo">
        <constructor>
            <idArg column="permission_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="permission_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="permission_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="permission_desc" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="permission_navi" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="permission_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="permission_create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="permission_update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="permission_valid" javaType="java.lang.Boolean" jdbcType="BIT"/>
        </constructor>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE
        FROM rbac_permission_info
        WHERE permission_id = #{permissionId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="RbacPermissionInfo">
        INSERT INTO rbac_permission_info (permission_id, permission_name, permission_code,
                                          permission_desc, permission_navi, permission_url,
                                          permission_create_time, permission_update_time,
                                          permission_valid)
        VALUES (#{permissionId,jdbcType=BIGINT}, #{permissionName,jdbcType=VARCHAR}, #{permissionCode,jdbcType=VARCHAR},
                #{permissionDesc,jdbcType=VARCHAR}, #{permissionNavi,jdbcType=BIT}, #{permissionUrl,jdbcType=VARCHAR},
                #{permissionCreateTime,jdbcType=TIMESTAMP}, #{permissionUpdateTime,jdbcType=TIMESTAMP},
                #{permissionValid,jdbcType=BIT})
    </insert>

    <update id="updateByPrimaryKey" parameterType="RbacPermissionInfo">
        UPDATE rbac_permission_info
        SET permission_name        = #{permissionName,jdbcType=VARCHAR},
            permission_code        = #{permissionCode,jdbcType=VARCHAR},
            permission_desc        = #{permissionDesc,jdbcType=VARCHAR},
            permission_navi        = #{permissionNavi,jdbcType=BIT},
            permission_url         = #{permissionUrl,jdbcType=VARCHAR},
            permission_create_time = #{permissionCreateTime,jdbcType=TIMESTAMP},
            permission_update_time = #{permissionUpdateTime,jdbcType=TIMESTAMP},
            permission_valid       = #{permissionValid,jdbcType=BIT}
        WHERE permission_id = #{permissionId,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT permission_id,
               permission_name,
               permission_code,
               permission_desc,
               permission_navi,
               permission_url,
               permission_create_time,
               permission_update_time,
               permission_valid
        FROM rbac_permission_info
        WHERE permission_id = #{permissionId,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT permission_id,
               permission_name,
               permission_code,
               permission_desc,
               permission_navi,
               permission_url,
               permission_create_time,
               permission_update_time,
               permission_valid
        FROM rbac_permission_info
    </select>
</mapper>