<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.skill6.website.dao.mappers.rbac.RbacRolePermissionRelMapper">
    <resultMap id="BaseResultMap" type="RbacRolePermissionRel">
        <constructor>
            <idArg column="role_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <idArg column="permission_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        </constructor>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="map">
        DELETE
        FROM rbac_role_permission_rel
        WHERE role_id = #{roleId,jdbcType=BIGINT}
          AND permission_id = #{permissionId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="RbacRolePermissionRel">
        INSERT INTO rbac_role_permission_rel (role_id, permission_id)
        VALUES (#{roleId,jdbcType=BIGINT}, #{permissionId,jdbcType=BIGINT})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT role_id, permission_id
        FROM rbac_role_permission_rel
    </select>
</mapper>