<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.skill6.website.dao.mappers.rbac.RbacUserRoleRelMapper">
    <resultMap id="BaseResultMap" type="RbacUserRoleRel">
        <constructor>
            <idArg column="user_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <idArg column="role_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        </constructor>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="map">
        DELETE
        FROM rbac_user_role_rel
        WHERE user_id = #{userId,jdbcType=BIGINT}
          AND role_id = #{roleId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="RbacUserRoleRel">
        INSERT INTO rbac_user_role_rel (user_id, role_id)
        VALUES (#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT user_id, role_id
        FROM rbac_user_role_rel
    </select>
</mapper>